/* 공통 */
body {
  background-color: #F8F9FA;
  color: #212529;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 레이아웃 구조 */
header, main, footer {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}