/*웹폰트*/
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 공통 */
body{
  background-color: #F8F9FA;
}
body textarea{
  font-family: 'Pretendard-Regular';
  color: #212529;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 레이아웃 구조 */
header, main, footer {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

button {
  all: unset;
  cursor: pointer;

  border-radius: 6px;
  background-color: #F0F6FF;
  color: black;
  font-weight: 600;
  text-align: center;

  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #F0F6FF;
}

button:active {
  transform: scale(0.97);
}

section, article, div{
  box-sizing: border-box;
}